/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
} 
body {
  background-color: #FAF4F2;
}

.l-head {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: fixed;
  z-index: 1;
}
.l-head a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.l-head__container {
  display: flex;
  width: 80%;
  justify-content: space-between;
}
.l-head__list {
  width: 850px;
  display: flex;
  justify-content: space-between;
}
.l-head__list .logo {
  display: block;
}
.l-head__list .logo a {
  display: block;
  width: 50px;
  height: 50px;
}
.l-head__list .logo a img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.l-head__list .nav ul {
  display: flex;
}
.l-head__list .nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.l-head__list .nav ul li a {
  color: #D2D2D2;
  padding: 16px;
}
.l-head__list .nav ul li a:hover {
  color: #FFFFFF;
}
.l-head__list .nav ul li a.active::after {
  content: "";
  width: 60%;
  height: 3px;
  background-color: #E76F51;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.l-head__list .nav ul .hidden {
  display: none;
}
.l-head__sign {
  display: flex;
}
.l-head__sign .c-btn--signup {
  width: 130px;
}
.l-head__sign .c-btn--signup a {
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  width: 100%;
  border: 0px;
}
.l-head__sign .c-btn--signin {
  width: 130px;
}
.l-head__sign .c-btn--signin a {
  width: 100%;
  height: 100%;
  color: #FFFFFF;
}
.l-head .c-menu {
  display: none;
}

@media screen and (max-width: 800px) {
  .l-head {
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
  }
  .l-head__container {
    width: 100%;
    display: flex;
    margin-left: 20px;
  }
  .l-head__list .nav.show-menu {
    display: block;
  }
  .l-head__list .logo {
    display: block;
  }
  .l-head__list .logo a {
    display: block;
    width: 50px;
    height: 50px;
  }
  .l-head__list .nav {
    display: none;
    position: relative;
    margin-top: 52px;
    background-color: #E76F51;
    border-radius: 10px;
  }
  .l-head__list .nav ul {
    display: block;
  }
  .l-head__list .nav ul li {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .l-head__list .nav ul li a {
    color: #D2D2D2;
    padding: 16px;
  }
  .l-head__list .nav ul li a:hover {
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
  }
  .l-head__list .nav ul li a.active::after {
    content: "";
    display: none;
  }
  .l-head__list .nav .hidden {
    display: flex;
  }
  .l-head__sign {
    display: none;
  }
  .l-head .c-menu {
    display: block;
    position: absolute;
    right: 8px;
  }
  .l-head .c-menu__bar {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    background-color: #FFFFFF;
  }
  .l-head .c-menu__bar img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
}
.c-btn {
  height: 50px;
}
.c-btn a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #FFFFFF;
  border-radius: 50px;
}

.main-visual {
  height: 1080px;
  background-image: url(../img/BackgroundImg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-visual .main-visual__text {
  color: #FFFFFF;
  max-width: 532px;
}
.main-visual .main-visual__text h2 {
  font-family: "Archivo", sans-serif;
  font-size: 81px;
  text-align: center;
  font-weight: 900;
  margin-bottom: 30px;
}
.main-visual .main-visual__text p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
}
.main-visual .main-visual__text .c-btn--discover {
  width: 205px;
  background-color: #E76F51;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 30px;
}
.main-visual .main-visual__text .c-btn--discover a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  border: 0px;
}

@media screen and (max-width: 800px) {
  .main-visual {
    width: 100%;
  }
}
.c-bloc-card {
  max-width: 1513px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: -115px;
  margin-bottom: 150px;
}
.c-bloc-card .c-card {
  max-width: 357px;
  background-color: #FFFFFF;
  border-radius: 30px;
}
.c-bloc-card .c-card .c-card-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 40px;
}
.c-bloc-card .c-card .c-card-inner__img {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.c-bloc-card .c-card .c-card-inner__img img {
  width: 100%;
  height: 100%;
}
.c-bloc-card .c-card .c-card-inner__txt {
  text-align: center;
  width: 277px;
}
.c-bloc-card .c-card .c-card-inner__txt h3 {
  font-size: 18px;
  font-weight: 900;
  color: #3B3735;
  margin-bottom: 10px;
}
.c-bloc-card .c-card .c-card-inner__txt p {
  font-size: 16px;
  font-weight: 400;
  color: #3B3735;
  line-height: 1.5;
}

@media screen and (max-width: 800px) {
  .c-bloc-card {
    max-width: 730px;
  }
  .c-bloc-card .c-card {
    max-width: 175px;
  }
  .c-bloc-card .c-card .c-card-inner {
    padding: 20px 30px;
  }
  .c-bloc-card .c-card .c-card-inner__img {
    width: 45px;
    height: 45px;
  }
  .c-bloc-card .c-card .c-card-inner__txt {
    width: 125px;
  }
  .c-bloc-card .c-card .c-card-inner__txt h3 {
    font-size: 14px;
  }
  .c-bloc-card .c-card .c-card-inner__txt p {
    font-size: 12px;
    line-height: 1.3;
  }
}
.c-wrap-activities {
  width: 1518px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.c-wrap-activities .c-wrap-head {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.c-wrap-activities .c-wrap-head__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 408px;
}
.c-wrap-activities .c-wrap-head__inner h4 {
  font-size: 40px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.3;
}
.c-wrap-activities .c-wrap-head__inner .head-img {
  width: 90px;
  height: 90px;
}
.c-wrap-activities .c-card-activities {
  width: 1518px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.c-wrap-activities .c-card-activities .card-warp {
  width: 277px;
  background-color: #FFFFFF;
  padding: 40px;
  border-radius: 30px;
  margin-bottom: 30px;
}
.c-wrap-activities .c-card-activities .card-warp__inner .card-img {
  position: relative;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.c-wrap-activities .c-card-activities .card-warp__inner .card-txt {
  text-align: center;
}
.c-wrap-activities .c-card-activities .card-warp__inner .card-txt h5 {
  color: #3B3735;
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 10px;
}
.c-wrap-activities .c-card-activities .card-warp__inner .card-txt p {
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  margin-bottom: 15px;
}
.c-wrap-activities .c-card-activities .card-warp__inner .card-txt .c-btn--readmore {
  width: 185px;
  margin: 0 auto;
}
.c-wrap-activities .c-card-activities .card-warp__inner .card-txt .c-btn--readmore a {
  text-decoration: none;
  height: 100%;
  color: #8D8D8D;
  width: 100%;
  border: 1px solid #8D8D8D;
}
.c-wrap-activities .c-card-activities .card-warp__inner .favorite {
  background-color: #FFFFFF;
  padding: 5px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 20px;
}
.c-wrap-activities .c-card-activities .card-warp .price {
  margin: 0 auto;
  width: 145px;
  border-radius: 10px;
  background-color: #FFFFFF;
  position: absolute;
  margin-top: 150px;
}
.c-wrap-activities .c-card-activities .card-warp .price__txt {
  text-align: center;
  padding: 12px;
  color: #E76F51;
}
.c-wrap-activities .c-btn--view {
  max-width: 205px;
  margin: 0 auto;
}
.c-wrap-activities .c-btn--view a {
  border: 1px solid #E76F51;
  color: #E76F51;
  padding: 15px;
}

@media screen and (max-width: 800px) {
  .c-wrap-activities {
    width: 730px;
  }
  .c-wrap-activities .c-wrap-head__inner {
    width: 200px;
  }
  .c-wrap-activities .c-wrap-head__inner h4 {
    font-size: 23px;
  }
  .c-wrap-activities .c-wrap-head__inner .head-img {
    width: 45px;
    height: 45px;
  }
  .c-wrap-activities .c-card-activities {
    width: 730px;
  }
  .c-wrap-activities .c-card-activities .card-warp {
    width: 270px;
    padding: 20px;
  }
  .c-wrap-activities .c-card-activities .card-warp__inner .card-txt {
    width: 200px;
    margin: 0 auto;
  }
  .c-wrap-activities .c-card-activities .card-warp__inner .card-txt h5 {
    font-size: 14px;
  }
  .c-wrap-activities .c-card-activities .card-warp__inner .card-txt p {
    font-size: 12px;
    line-height: 1.2;
  }
  .c-wrap-activities .c-card-activities .card-warp__inner .card-txt .c-btn--readmore {
    width: 120px;
    height: 40px;
  }
  .c-wrap-activities .c-card-activities .card-warp__inner .card-txt .c-btn--readmore a {
    font-size: 14px;
  }
  .c-wrap-activities .c-card-activities .card-warp__inner .price__txt {
    font-size: 14px;
  }
}
.email-warp {
  display: flex;
  justify-content: center;
  margin-bottom: 180px;
}
.email-warp .container {
  width: 1518px;
  height: 390px;
  background-image: url(../../../img/Subscribe.png);
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.email-warp .container__txt {
  width: 759px;
  margin-top: 12px;
  padding: 100px;
}
.email-warp .container__txt .inner-bloc .text {
  width: 471px;
}
.email-warp .container__txt .inner-bloc .text h6 {
  font-size: 40px;
  font-weight: 900;
  color: #3B3735;
  margin-bottom: 15px;
}
.email-warp .container__txt .inner-bloc .text p {
  font-size: 16px;
  font-weight: 500;
  color: #3B3735;
  margin-bottom: 15px;
  line-height: 1.5;
}
.email-warp .container__txt .inner-bloc .text-email {
  width: 616px;
  display: flex;
  align-items: center;
  position: relative;
}
.email-warp .container__txt .inner-bloc .text-email a {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 20px;
}
.email-warp .container__txt .inner-bloc .text-email a img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.email-warp .container__txt .inner-bloc .text-email .email-txtbox {
  width: 616px;
  height: 60px;
  border-radius: 10px;
}
.email-warp .container__txt .inner-bloc .text-email .email-txtbox:focus {
  outline: none;
}

@media screen and (max-width: 800px) {
  .email-warp {
    margin-bottom: 140px;
  }
  .email-warp .container {
    width: 730px;
    height: 240px;
  }
  .email-warp .container__txt {
    width: 400px;
    margin-top: 12px;
    padding: 40px;
  }
  .email-warp .container__txt .inner-bloc .text {
    width: 220px;
  }
  .email-warp .container__txt .inner-bloc .text h6 {
    font-size: 20px;
  }
  .email-warp .container__txt .inner-bloc .text p {
    font-size: 12px;
    line-height: 1.2;
  }
  .email-warp .container__txt .inner-bloc .text-email {
    width: 210px;
  }
  .email-warp .container__txt .inner-bloc .text-email a {
    width: 20px;
    height: 20px;
    right: 10px;
  }
  .email-warp .container__txt .inner-bloc .text-email a img {
    border-radius: 8px;
  }
  .email-warp .container__txt .inner-bloc .text-email .email-txtbox {
    width: 210px;
    height: 25px;
  }
  .email-warp .container__txt .inner-bloc .text-email .email-txtbox:focus {
    outline: none;
  }
}
.l-ft-background {
  background-color: #F8E1DB;
  border-radius: 120px 120px 0px 0px;
  position: relative;
}
.l-ft-background .l-foot-bloc {
  display: flex;
  justify-content: space-between;
}
.l-ft-background .l-foot-bloc h6 {
  font-size: 18px;
  font-weight: 900;
  color: #3B3735;
  margin-bottom: 25px;
}
.l-ft-background .l-foot-bloc a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #3B3735;
  line-height: 1.3;
  margin-bottom: 48px;
  line-height: 1.5;
}
.l-ft-background .l-foot-bloc__left {
  width: 50%;
}
.l-ft-background .l-foot-bloc__left .inner-bloc {
  width: 615px;
  padding: 103px 0px 60px 201px;
}
.l-ft-background .l-foot-bloc__left .inner-bloc p {
  font-size: 16px;
  font-weight: 500;
  color: #3B3735;
  line-height: 1.3;
  margin-bottom: 48px;
}
.l-ft-background .l-foot-bloc__right {
  display: flex;
  padding: 103px 201px 60px 0px;
  justify-content: space-between;
}
.l-ft-background .l-foot-bloc__right .inner-list {
  padding: 0px 30px 0px;
}
.l-ft-background address {
  height: 70px;
  display: flex;
  font-size: 16px;
  color: #3B3735;
  justify-content: center;
}
.l-ft-background .l-top-up {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: -20px;
  right: 10%;
}
.l-ft-background .l-top-up a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #E76F51;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .l-ft-background {
    border-radius: 80px 80px 0px 0px;
  }
  .l-ft-background .l-foot-bloc h6 {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .l-ft-background .l-foot-bloc a {
    font-size: 12px;
    line-height: 1.3;
  }
  .l-ft-background .l-foot-bloc__left .inner-bloc {
    width: 300px;
    padding: 60px 0px 30px 80px;
  }
  .l-ft-background .l-foot-bloc__left .inner-bloc p {
    font-size: 12px;
    line-height: 1.2;
  }
  .l-ft-background .l-foot-bloc__right {
    display: flex;
    padding: 60px 40px 30px 40px;
    justify-content: space-between;
  }
  .l-ft-background .l-foot-bloc__right .inner-list {
    padding: 0px 5px 0px;
  }
  .l-ft-background address {
    height: 35px;
    display: flex;
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */