@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
.main{
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    background-color: rgb(0, 0, 0);
}
.bdy-frame{
    width: 800px;
    margin: 0 auto;
    padding-top: 30px;
    header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        .logo{
            a{
                font-weight: 800;
                font-size: 30px;
                text-decoration: none;
                color: rgb(255, 255, 255);
            }
        }
        .navi{
            width: 40%;
            ul{
                display: flex;
                justify-content: space-between;
                li{
                    height: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    a{
                        width: 100%;
                        text-decoration: none;
                        color: rgb(255, 255, 255);
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .some-head{
        width: 350px;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 50px;
        h2{
            font-weight: 800;
            font-size: 35px;
            margin-bottom: 15px;
        }
        p{
            font-size: 15px;
            color: #cfcfcf;
        }
    }
    .photo{
        .photo__col{
            margin-bottom: 35px;
            img{
                width: 100%;
            }
        }
        .some-head--title{
            width: 70%;
            margin-bottom: 40px;
            h2{
                font-weight: 800;
                font-size: 35px;
                margin-bottom: 15px;
            }
            p{
                font-size: 15px;
                color: #cfcfcf;
            }
        }
        .row{
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            .row-bloc{
                position: relative;
                .photo__row{
                    width: 250px;
                    img{
                        width: 100%;
                    }

                }
                p{
                    text-align: center;
                }
                .new-top{
                    position: absolute;
                    top: 0;
                    padding: 8px;
                    font-weight: bolder;
                }
                .add-top{
                    position: absolute;
                    top: 75%;
                    background-color: rgb(55, 134, 160);
                    padding: 15px 8px 15px;
                }
                .gray{
                    font-size: 12px;
                    color: #cfcfcf;
                }
            }
        }
    }
}
footer{
    background-color: #3e3b3b;
    height: 50px;
    .my-ft{
        display: flex;
        width: 800px;
        margin: 0 auto;
        justify-content: space-between;
        padding-top: 12px;
        .my-ft__nav{
            width: 40%;
            ul{
                display: flex;
                justify-content: space-between;
                li{
                    height: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    a{
                        width: 100%;
                        text-decoration: none;
                        color: rgb(255, 255, 255);
                        font-size: 14px;
                    }
                }
            }
        }
        .mad{
            display: flex;
            align-items: center;
        }
    }
}
