.c-bloc-card{
    max-width: 1513px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: -115px;
    margin-bottom: 150px;
    .c-card{
        max-width: 357px;
        background-color: #FFFFFF;
        border-radius: 30px;
        .c-card-inner{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 60px 40px;

            
            &__img{
                width: 90px; 
                height: 90px;
                margin: 0 auto;
                margin-bottom: 20px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            &__txt{
                text-align: center;
                width: 277px; 
                h3{
                    font-size: 18px;
                    font-weight: 900;
                    color: #3B3735;
                    margin-bottom: 10px;
                }
                p{
                    font-size: 16px;
                    font-weight: 400;
                    color: #3B3735;
                    line-height: 1.5;
                }
            }
        }
    }
}