.main-visual{
    height: 1080px;
    background-image: url(../img/BackgroundImg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;


    
    .main-visual__text{
        color: #FFFFFF;
        max-width: 532px;
        h2{
            font-family: 'Archivo',sans-serif;
            font-size: 81px;
            text-align: center;
            font-weight: 900;
            margin-bottom: 30px;
        }
        p{
            font-family: 'Roboto',sans-serif;
            font-size: 18px;
            text-align: center;
            margin-bottom: 30px;
        }
        .c-btn--discover{
            width: 205px;
            background-color: #E76F51;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            border-radius: 30px;
            a{
                text-decoration: none;
                font-family: 'Roboto',sans-serif;
                font-size: 18px;
                color: #FFFFFF;
                border: 0px;
            }
        }
    }
}