body{
    background-color: rgb(192, 190, 190);
}
.main-bdy{
    background-color: rgb(255, 255, 255);
    width: 800px;
    margin: 50px auto;
    margin-top: 15px;
    border-radius: 12px;
    padding: 30px 50px 60px;
    header{
        h4{
            font-size: 30px;
            font-weight: 700;
            border-bottom: 1px solid rgb(0,0,0);
            
            padding-bottom: 20px;
            margin-bottom: 40px;
        }
    }
    .inner-bdy{
        margin-bottom: 40px;
        .bloc-card{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            border-bottom: 1px solid rgb(0,0,0);
            .card{
                margin-bottom: 45px;
                .crd-img{
                    width: 360px;
                    a {
                        display: flex;
                        img{
                            width: 100%;
                        }
                    }
                }
                .crd-txt{
                    text-align: center;
                }
            }
        }
    }
    .view-btn{
        width: 120px;
        margin: 0 auto;
        a{
            display: inline-flex;
            text-decoration: none;
            width: 100%;
            height: 40px;
            color: rgb(0,0,0);
            border: 1px solid rgb(0,0,0);
            border-radius: 30px;
            align-items: center;
            justify-content: center;
        }
    }
}

@media screen and (max-width: 800px){
    .main-bdy{
        width: 85%;
        .inner-bdy{
            .bloc-card{
                .card{
                    .crd-img{
                        width: 320px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 400px){
    .main-bdy{
        width: 72%;
        .inner-bdy{
            .bloc-card{
                .card{
                    .crd-img{
                        width: 290px;
                    }
                }
            }
        }
    }
}